.Venue {
  width: 50%;
  margin: auto;
}
.Venue h1 {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
.Arrange p {
  float: left;
  font-size: small;
  color: #6464c8;
}
.Arrange .itemBtn {
  float: left;
  border: none;
  font-size: medium;
  margin: auto 0.5em 1em 0.6em;
}
.Arrange img {
  margin-left: 0.7em;
  width: 0.7em;
  height: 0.7em;
}
