.hideList {
  text-align: center;
}

.totalResults {
  color: rgb(146, 146, 146);
  margin: auto auto auto 20px;
  font-size: small;
}

.info {
  width: 80%;
  display: inline-block;
}

.itemBtn {
  float: right;
  
}

.pagination {
  margin: auto;
  width: 50%;
  position: relative;
  clear: both;
}

.Grid .Item {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 20%;
  margin: 4px;
  float: left;
}

.Grid .Item img {
  float: center;
  margin: 20px;
  height: 100px;
  width: 100px;
}

.Grid .Item h1 {
  font-size: 1em;
  margin-bottom: 6px;
  text-align: left;
}
.Grid .Item p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;

}

.List .Item {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 4px;
}

.List .Item img {
  float: left;
  margin-bottom: 0.6em;
  height: 4em;
  width: 4em;
}

.List .Item h1 {
  font-size: 1em;
  margin-bottom: 6px;
  text-align: left;
  
}
.List .Item p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  display: inline;
}
