.Header {
  padding: 20px 20px;
  width: 50%;
  margin: auto;
  width: 50%;
}

.Header h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: center;
}

.wrapper {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
}

input {
  width: 80%;
  padding: 5px;
  margin: 5px;
}

button{
  margin: 5px;
}

.Profile {
  float :right;
}