.Header {
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
.Header h1 {
    font-family: "McLaren", cursive;
    font-weight: 200;
    text-align: center;
  }