.Content {
  width: 50%;
  margin: auto;
}
.Content h1 {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
.Content .Arrange p {
  float: left;
  font-size: small;
  color: #6464c8;
}
.Content .Arrange .itemBtn {
  float: left;
  border: none;
  font-size: medium;
  margin: auto 0.5em;
}
.Content .Arrange img {
  margin-left: 0.7em;
  width: 0.7em;
  height: 0.7em;
}
