* {
box-sizing:border-box;
margin:0;
padding:0;
}

html {
font-family:Montserrat, sans-serif;
}

button {
background-color:#FFF;
color:#6464c8;
border-radius:.5em;
border-color:#6464c8;
padding:.3em;
margin: auto .5em auto .5em;
}