.Options {
  color: #6464c8;
  font-size: small;
}

.Options p {
  display: inline;
}

.Options .itemBtn {
  float: right;
  border: none;
  size: small;
  margin: auto 1em auto 0.6em;
  padding: 0px 0px 0px 0px;
}

.Options img{
  width: 1em;
  height: 1em;
  margin-right: .2em;
}

.Display {
  float: right;
}

.Display button {
  padding: 0.1em;
  border: none;
}

.Display .display-list {
  width: 2.2em;
  height: 1.2em;
  margin: auto;
}

.Display .display-grid {
  width: 1.2em;
  height: 1.2em;
  margin: auto;
}

.FilterBy,
.ListBy,
.Sort,
.Tag {
  display: inline-block;
  margin: 10px;
}
